.amenucrearclie{
    text-decoration: none;
	border:1px groove black;
  	font-size: 16px;
  	text-align: center;
 	width: 150px;
    height: 40px;
    padding-top: 20px;  
    float:left;
    text-indent:inherit;
    background-color:darkgrey;
}
.amenucrearclie:first-child{
    margin-left:250px;
}
nav{
    margin-left:50px;
    width:1000px;
    height: 62px;
    border:1px groove white;
    text-align:right;
}
.sectablas{
    margin-top:20px;
    margin-left:50px;
    border:1px groove white;
    width:1000px; height:400px;
}
tr, td{
    border:1px groove white;
    width:600px; height:20px;
}


